body {
  background-image: radial-gradient(yellow, orange, orangered, red, black);
  background-attachment: fixed;
  font-family: 'Oleo Script', cursive;

}

.container {
  text-align: center;
}

.heading {
  color: darkred;
  text-shadow: 5px 5px 5px yellow;
  font-size: 50px;
  text-align: center;
}

input {
  width: 250px;
  height: 40px;
  font-size: 20px;
  font-family: 'Oleo Script', cursive;
  border-radius: 50px;
  margin: 10px;
  text-align: center;
}
label {
  font-size: 30px;
  color: darkred;
  text-shadow: 5px 5px 5px yellow;
}

button:hover {
  background-color: orangered;
}

button {
  width: 120px;
  height: 40px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: dodgerblue;
  color: whitesmoke;
  font-weight: bold;
  margin: 50px;
  font-family: 'Oleo Script', cursive;
  font-size: 1.5em;
}

.conatiner2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1200px;
  height: auto;
  box-shadow: 5px 5px 8px black;
  margin: 30px auto;
  background-color: aqua;
}
.conatiner3 {
  width: 560px;
  height: 70px;
  font-size: 15px;
  text-align: center;
  margin: 15px;
  border-radius: 20px;
  background-color: darkorchid;
}